<!doctype html>
<html lang="en">

<head>
    {{>header_links}}
    <title>Check Weather</title>
</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

            <div class="main_content"> 
                <form class="temp_form">
                    <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                    <input type="submit" value="SEARCH" id="submitBtn">
                </form>
            </div>

            <div class="tempInformation">
                <div class="top_layer">
                    <p id="day">Thursday</p>
                    <p id="today_date">13 DEC</p>
                </div>

                <div class="main_layer">
                    <p id="city_name">Get Output Here</p>
                    <div class="middle_layer data_hide">
                        <p id="temp"><span id="temp_real_val">0</span> <sup>o</sup>C</p> 
                        <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>

    {{>footer}}
    <script>
        let currTime = new Date();
        // date and day maitain
        const day = document.getElementById('day');
        const today_date = document.getElementById('today_date');

        const getCurrentTime = () => {
            let weekday = new Array(7);
            weekday[0] = "Sunday";
            weekday[1] = "Monday";
            weekday[2] = "Tuesday";
            weekday[3] = "Wednesday";
            weekday[4] = "Thursday";
            weekday[5] = "Friday";
            weekday[6] = "Saturday";
            
            day.innerHTML = weekday[currTime.getDay()];

            const date = currTime.getDate();

            let months = new Array(12);
            months[0] = "JAN";
            months[1] = "FEB";
            months[2] = "MARCH";
            months[3] = "APRIL";
            months[4] = "MAY";
            months[5] = "JUNE";
            months[6] = "JULY";
            months[7] = "AUG";
            months[8] = "SEP";
            months[9] = "OCT";
            months[10] = "NOV";
            months[11] = "DEC";
            // months[currTime.getMonth()]
            today_date.innerHTML = `${date} ${months[currTime.getMonth()]}`;
        } 
        getCurrentTime();


    </script>
    <script src="js/main.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>